.not-found {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
}
.not-found img {
  width: 300px;
}
.not-found h1{
    font-size: 22px;
}
.not-found p{
    font-size: 12px;
}